<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aksharas">

    <application
        android:allowBackup="true"
        android:icon="@drawable/shabdha_logo"
        android:label="@string/Shabdha"
        android:roundIcon="@drawable/shabdha_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aksharas">
        <activity android:name=".actualthesaurus"
            android:screenOrientation="portrait"/>
        <activity android:name=".dictionary"
            android:screenOrientation="portrait"/>
        <activity android:name=".splashsscreen"
            android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter> </activity>
        <activity android:name=".originfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".maheswarasutra"
            android:screenOrientation="portrait"/>
        <activity android:name=".thesaurus"
            android:screenOrientation="portrait"/>
        <activity android:name=".learning"
            android:screenOrientation="portrait"/>
        <activity android:name=".database"
            android:screenOrientation="portrait"/>
        <activity android:name=".homepage"
            android:screenOrientation="portrait"/>
        <activity android:name=".a"
            android:screenOrientation="portrait"/>
        <activity android:name=".aksharas"
            android:screenOrientation="portrait" />
        <activity android:name=".quiz.boyC"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".quiz.boyW"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".quiz.fruitC"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".quiz.fruitW"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".quiz.girlC"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".quiz.girlW"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".quiz.Question2"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".quiz.Question3"
            android:screenOrientation="portrait"
            android:noHistory="true"/>
        <activity android:name=".quiz.QuestionPage"
            android:screenOrientation="portrait"
            android:noHistory="true"/>


    </application>

</manifest>