<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aksharas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/Shabdha"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aksharas">
        <activity android:name=".peoplecomplete"></activity>
        <activity android:name=".peoplec" />
        <activity android:name=".people4" />
        <activity android:name=".people3" />
        <activity android:name=".people2" />
        <activity android:name=".people1" />
        <activity android:name=".webview" />
        <activity
            android:name=".heyw"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".welcome"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basicsII"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz3.greetings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz3.greeting1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz3.greeting2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz3.greeting3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz3.greeting4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz3.greeting5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basicsIIpoints"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".actualthesaurus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basicsIImsgC"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basicsIImsgW"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dictionary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashsscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".originfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maheswarasutra"
            android:screenOrientation="portrait" />
        <activity
            android:name=".thesaurus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".learning"
            android:screenOrientation="portrait" />
        <activity
            android:name=".database"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".a"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aksharas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.boyC"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.boyW"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.fruitC"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.fruitW"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.girlC"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.girlW"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.Question2"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.Question3"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz.QuestionPage"
            android:noHistory="true"
            android:screenOrientation="portrait" />


        <!-- QUIZ 5 -->
        <activity
            android:name=".quiz5.dog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz5.cat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz5.cow"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz5.lion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz5.chart_animals"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz5.wrong_animal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".quiz5.done5"
            android:screenOrientation="portrait" />
    </application>

</manifest>